In [1]:
import pandas as pd
import numpy as np
import datetime 
from itertools import product

In [2]:
train = pd.read_csv('sales_train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')
items = pd.read_csv('items.csv')
item_cats = pd.read_csv('item_categories.csv')
shops = pd.read_csv('shops.csv')

In [3]:
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [4]:
whole=[]

for i in range(0,34):
    shops_month=train.loc[train['date_block_num']==i,'shop_id'].unique()
    items_month=train.loc[train['date_block_num']==i,'item_id'].unique()
    whole.append(np.array(list(product([i],shops_month,items_month))))
    
whole=np.vstack(whole)
whole=pd.DataFrame(whole,columns=['date_block_num','shop_id','item_id'])

In [5]:
whole

          date_block_num  shop_id  item_id
0                      0       59    22154
1                      0       59     2552
2                      0       59     2554
3                      0       59     2555
4                      0       59     2564
...                  ...      ...      ...
10913845              33       21     7635
10913846              33       21     7638
10913847              33       21     7640
10913848              33       21     7632
10913849              33       21     7440

[10913850 rows x 3 columns]

In [6]:
test['date_block_num']=34
test=test[['date_block_num','shop_id','item_id']]
whole=pd.concat([whole,test],axis=0)

In [7]:
whole

        date_block_num  shop_id  item_id
0                    0       59    22154
1                    0       59     2552
2                    0       59     2554
3                    0       59     2555
4                    0       59     2564
...                ...      ...      ...
214195              34       45    18454
214196              34       45    16188
214197              34       45    15757
214198              34       45    19648
214199              34       45      969

[11128050 rows x 3 columns]

In [8]:
sale = train.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day':['sum']})
sale.columns = ['item_cnt_month']
sale.reset_index(inplace=True)
sale['item_cnt_month'] = (sale['item_cnt_month'].clip(0,20).astype(np.float))

In [9]:
sale

         date_block_num  shop_id  item_id  item_cnt_month
0                     0        0       32             6.0
1                     0        0       33             3.0
2                     0        0       35             1.0
3                     0        0       43             1.0
4                     0        0       51             2.0
...                 ...      ...      ...             ...
1609119              33       59    22087             6.0
1609120              33       59    22088             2.0
1609121              33       59    22091             1.0
1609122              33       59    22100             1.0
1609123              33       59    22102             1.0

[1609124 rows x 4 columns]

In [10]:
item_cats

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

In [11]:
whole = whole.merge(sale,how='left',on = ['date_block_num','shop_id','item_id'])
whole = whole.merge(shops,how='left',on='shop_id')
whole = whole.merge(items,how='left',on='item_id')
whole = whole.merge(item_cats,how='left',on='item_category_id')

Set month and year

In [12]:
def year_value(sd):
    if 0<=sd<=12:
        return 0
    elif 13<=sd<=24:
        return 1
    else:
        return 2

In [13]:
whole['month'] = whole['date_block_num'].apply(lambda x: x%12)

In [14]:
whole['year'] = whole['date_block_num'].apply(lambda x: year_value(x))

In [15]:
whole

,date_block_num,shop_id,item_id,item_cnt_month,shop_name,item_name,item_category_id,item_category_name,month,year
0,0,59,22154,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,0,0
1,0,59,2552,NaN,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE The House Of Blue Light LP,58,Музыка - Винил,0,0
2,0,59,2554,NaN,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE Who Do You Think We Are LP,58,Музыка - Винил,0,0
3,0,59,2555,NaN,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,Музыка - CD фирменного производства,0,0
4,0,59,2564,NaN,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE Perihelion: Live In Concert DVD (К...,59,Музыка - Музыкальное видео,0,0
...,...,...,...,...,...,...,...,...,...,...
11128045,34,45,18454,NaN,"Самара ТЦ ""ПаркХаус""",СБ. Союз 55,55,Музыка - CD локального производства,10,2
11128046,34,45,16188,NaN,"Самара ТЦ ""ПаркХаус""",Настольная игра Нано Кёрлинг,64,Подарки - Настольные игры,10,2
11128047,34,45,15757,NaN,"Самара ТЦ ""ПаркХаус""",НОВИКОВ АЛЕКСАНДР Новая коллекция,55,Музыка - CD локального производства,10,2
11128048,34,45,19648,NaN,"Самара ТЦ ""ПаркХаус""",ТЕРЕМ - ТЕРЕМОК сб.м/ф (Регион),40,Кино - DVD,10,2
11128049,34,45,969,NaN,"Самара ТЦ ""ПаркХаус""",3 ДНЯ НА УБИЙСТВО (BD),37,Кино - Blu-Ray,10,2

Fill null value in item_cnt_month

In [16]:
whole['item_cnt_month'].fillna(0,inplace=True)

In [17]:
whole

,date_block_num,shop_id,item_id,item_cnt_month,shop_name,item_name,item_category_id,item_category_name,month,year
0,0,59,22154,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,0,0
1,0,59,2552,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE The House Of Blue Light LP,58,Музыка - Винил,0,0
2,0,59,2554,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE Who Do You Think We Are LP,58,Музыка - Винил,0,0
3,0,59,2555,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,Музыка - CD фирменного производства,0,0
4,0,59,2564,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE Perihelion: Live In Concert DVD (К...,59,Музыка - Музыкальное видео,0,0
...,...,...,...,...,...,...,...,...,...,...
11128045,34,45,18454,0.0,"Самара ТЦ ""ПаркХаус""",СБ. Союз 55,55,Музыка - CD локального производства,10,2
11128046,34,45,16188,0.0,"Самара ТЦ ""ПаркХаус""",Настольная игра Нано Кёрлинг,64,Подарки - Настольные игры,10,2
11128047,34,45,15757,0.0,"Самара ТЦ ""ПаркХаус""",НОВИКОВ АЛЕКСАНДР Новая коллекция,55,Музыка - CD локального производства,10,2
11128048,34,45,19648,0.0,"Самара ТЦ ""ПаркХаус""",ТЕРЕМ - ТЕРЕМОК сб.м/ф (Регион),40,Кино - DVD,10,2
11128049,34,45,969,0.0,"Самара ТЦ ""ПаркХаус""",3 ДНЯ НА УБИЙСТВО (BD),37,Кино - Blu-Ray,10,2

## Adding more features

In [18]:
whole2 = whole

### Every shop's average cnt

In [19]:
cnt_mean = whole.query("date_block_num<34").groupby("shop_id").agg({"item_cnt_month":["mean"]})

In [20]:
cnt_mean.columns = ['shop_id_mean']
whole2['shop_id_mean'] = whole2['shop_id'].map(cnt_mean['shop_id_mean'])

### every item's average count

In [21]:
item_mean = whole.query("date_block_num<34").groupby("item_id").agg({"item_cnt_month":["mean"]})

In [22]:
item_mean.columns = ['item_cnt_month']

In [23]:
whole2['item_cnt_mean'] = whole2['item_id'].map(item_mean['item_cnt_month'])

### every category's average count

In [24]:
c = whole.query("date_block_num<34").groupby("item_category_id").agg({"item_cnt_month":["mean"]})

In [25]:
c.columns = ['category_mean']

In [26]:
whole2['category_mean'] = whole['item_category_id'].map(c['category_mean'])

### Every item's mean price

In [27]:
item_pr =  train.query("date_block_num<34").groupby("item_id").agg({"item_price":["mean"]})

In [28]:
item_pr.columns = ['item_mean_price']

In [29]:
whole2['item_mean_price'] = whole2['item_id'].map(item_pr['item_mean_price'])

In [30]:
whole2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11128050 entries, 0 to 11128049
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   date_block_num      int64
 1   shop_id             int64
 2   item_id             int64
 3   item_cnt_month      float64
 4   shop_name           object
 5   item_name           object
 6   item_category_id    int64
 7   item_category_name  object
 8   month               int64
 9   year                int64
 10  shop_id_mean        float64
 11  item_cnt_mean       float64
 12  category_mean       float64
 13  item_mean_price     float64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.2+ GB

In [31]:
whole2.head(3)

,date_block_num,shop_id,item_id,item_cnt_month,shop_name,item_name,item_category_id,item_category_name,month,year,shop_id_mean,item_cnt_mean,category_mean,item_mean_price
0,0,59,22154,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,0,0,0.197741,0.109870,0.176343,702.932203
1,0,59,2552,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE The House Of Blue Light LP,58,Музыка - Винил,0,0,0.197741,0.021818,0.045714,937.888889
2,0,59,2554,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE Who Do You Think We Are LP,58,Музыка - Винил,0,0,0.197741,0.022222,0.045714,1709.050000

In [32]:
whole3 = whole2.drop(['shop_name','item_name','item_category_name'],axis=1)

In [33]:
whole3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11128050 entries, 0 to 11128049
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   date_block_num    int64
 1   shop_id           int64
 2   item_id           int64
 3   item_cnt_month    float64
 4   item_category_id  int64
 5   month             int64
 6   year              int64
 7   shop_id_mean      float64
 8   item_cnt_mean     float64
 9   category_mean     float64
 10  item_mean_price   float64
dtypes: float64(5), int64(6)
memory usage: 1018.8 MB

In [34]:
X_train=whole3.drop("item_cnt_month",axis=1).query("date_block_num<33")
y_train=whole3.query("date_block_num<33")["item_cnt_month"]
X_val=whole3.drop("item_cnt_month",axis=1).query("date_block_num==33")
y_val=whole3.query("date_block_num==33")["item_cnt_month"]
X_test=whole3.drop("item_cnt_month",axis=1).query("date_block_num==34")

In [ ]:
lgb_train = lgb.Dataset(X_train,y_train)
lgb_eval = lgb.Dataset(X_val,y_val,reference=lgb_train)

In [ ]:
params = {
        'task': 'train',
        'boosting_type': 'gbdt',
        'objective': 'regression',
        'metric': {'rmse'},
        'learning_rate': 0.3,
        'num_leaves': 30,
        'min_data_in_leaf': 1,
        'num_iteration': 100,
        'verbose': 20
}

In [ ]:
gbm = lgb.train(params,
            lgb_train,
            num_boost_round=1000,
            valid_sets=lgb_eval,
            early_stopping_rounds=10)

In [ ]:
lgb.plot_importance(gbm, importance_type='gain')

In [ ]:
whole4 = whole2.merge(train,on=['shop_id','item_id','date_block_num'],how='left')

In [ ]:
whole4.columns

In [ ]:
whole5 = whole4.drop(['shop_name','item_name','item_category_name','date','item_cnt_day'],axis=1)

In [ ]:
whole5.info()

In [ ]:
whole5['item_price'].fillna(0,inplace=True)

In [ ]:
X_train=whole5.drop("item_cnt_month",axis=1).query("date_block_num<33")
y_train=whole5.query("date_block_num<33")["item_cnt_month"]
X_val=whole5.drop("item_cnt_month",axis=1).query("date_block_num==33")
y_val=whole5.query("date_block_num==33")["item_cnt_month"]
X_test=whole5.drop("item_cnt_month",axis=1).query("date_block_num==34")

In [ ]:
lgb_train = lgb.Dataset(X_train,y_train)
lgb_eval = lgb.Dataset(X_val,y_val,reference=lgb_train)

In [ ]:
gbm = lgb.train(params,
            lgb_train,
            num_boost_round=1000,
            valid_sets=lgb_eval,
            early_stopping_rounds=10)

In [ ]:
lgb.plot_importance(gbm, importance_type='gain')

## Adding date_item_mean lag features

In [36]:
whole2.head(3)

,date_block_num,shop_id,item_id,item_cnt_month,shop_name,item_name,item_category_id,item_category_name,month,year,shop_id_mean,item_cnt_mean,category_mean,item_mean_price
0,0,59,22154,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,0,0,0.197741,0.109870,0.176343,702.932203
1,0,59,2552,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE The House Of Blue Light LP,58,Музыка - Винил,0,0,0.197741,0.021818,0.045714,937.888889
2,0,59,2554,0.0,"Ярославль ТЦ ""Альтаир""",DEEP PURPLE Who Do You Think We Are LP,58,Музыка - Винил,0,0,0.197741,0.022222,0.045714,1709.050000

In [37]:
date_item_mean = whole2.query("date_block_num<34").groupby(["date_block_num","item_id"]).agg({"item_cnt_month":["mean"]})

In [38]:
date_item_mean.columns = ['date_item_cnt_mean']
whole2 = whole2.merge(date_item_mean,on=['date_block_num','item_id'],how='left')

In [39]:
date_item_mean = date_item_mean.reset_index()

### date_item_cnt_mean_lag1

In [40]:
date_item_mean['date_block_num']=date_item_mean['date_block_num']+1

In [41]:
date_item_mean.columns = ['date_block_num', 'item_id', 'date_item_cnt_mean_lag1']

In [42]:
whole2 = whole2.merge(date_item_mean,how='left',on=['date_block_num','item_id'])

### date_item_mean_cnt_lag2

In [43]:
date_item_mean['date_block_num']=date_item_mean['date_block_num']+1

In [44]:
date_item_mean.columns = ['date_block_num', 'item_id', 'date_item_cnt_mean_lag2']

In [45]:
whole2 = whole2.merge(date_item_mean,how='left',on=['date_block_num','item_id'])

### date_item_cnt_mean_lag3

In [46]:
date_item_mean['date_block_num']=date_item_mean['date_block_num']+1

In [47]:
date_item_mean.columns = ['date_block_num', 'item_id', 'date_item_cnt_mean_lag3']

In [48]:
whole2 = whole2.merge(date_item_mean,how='left',on=['date_block_num','item_id'])

## Adding date_shop_cnt_mean_lag features

In [ ]:
# date_shop_mean = whole2.query("date_block_num<34").groupby(["date_block_num","shop_id"]).agg({"item_cnt_month":["mean"]})

In [ ]:
# date_shop_mean.columns = ['date_shop_cnt_mean']
# date_shop_mean = date_shop_mean.reset_index()

In [ ]:
# whole2['date_shop_mean'] = whole2.merge(date_shop_mean,on=['date_block_num','shop_id'],how='left')

###  Adding date_shop_cnt_mean_lag1 features

In [ ]:
# date_shop_mean['date_block_num'] = date_shop_mean['date_block_num'] + 1

In [ ]:
# date_shop_mean.columns = ['date_block_num', 'item_id', 'date_shop_cnt_mean_lag1']

In [ ]:
# whole2 = whole2.merge(date_shop_mean,how='left',on=['date_block_num','item_id'])

###  Adding date_shop_cnt_mean_lag2 features

In [ ]:
# date_shop_mean['date_block_num'] = date_shop_mean['date_block_num'] + 1

In [ ]:
# date_shop_mean.columns = ['date_block_num', 'item_id', 'date_shop_mean_lag2']

In [ ]:
# whole2 = whole2.merge(date_shop_mean,how='left',on=['date_block_num','item_id'])

###  Adding date_shop_cnt_mean_lag3 features

In [ ]:
# date_shop_mean['date_block_num'] = date_shop_mean['date_block_num'] + 1

In [ ]:
# date_shop_mean.columns = ['date_block_num', 'item_id', 'date_shop_cnt_mean_lag2']

In [ ]:
# whole2 = whole2.merge(date_shop_mean,how='left',on=['date_block_num','item_id'])

## Adding date_shop_revenue_mean feature

In [50]:
whole2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11128050 entries, 0 to 11128049
Data columns (total 18 columns):
 #   Column                   Dtype
---  ------                   -----
 0   date_block_num           int64
 1   shop_id                  int64
 2   item_id                  int64
 3   item_cnt_month           float64
 4   shop_name                object
 5   item_name                object
 6   item_category_id         int64
 7   item_category_name       object
 8   month                    int64
 9   year                     int64
 10  shop_id_mean             float64
 11  item_cnt_mean            float64
 12  category_mean            float64
 13  item_mean_price          float64
 14  date_item_cnt_mean       float64
 15  date_item_cnt_mean_lag1  float64
 16  date_item_cnt_mean_lag2  float64
 17  date_item_cnt_mean_lag3  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.6+ GB

In [52]:
whole3 = whole2.drop(['shop_name','item_name','item_category_name'],axis=1)

In [53]:
whole3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11128050 entries, 0 to 11128049
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   date_block_num           int64
 1   shop_id                  int64
 2   item_id                  int64
 3   item_cnt_month           float64
 4   item_category_id         int64
 5   month                    int64
 6   year                     int64
 7   shop_id_mean             float64
 8   item_cnt_mean            float64
 9   category_mean            float64
 10  item_mean_price          float64
 11  date_item_cnt_mean       float64
 12  date_item_cnt_mean_lag1  float64
 13  date_item_cnt_mean_lag2  float64
 14  date_item_cnt_mean_lag3  float64
dtypes: float64(9), int64(6)
memory usage: 1.3 GB

In [56]:
import lightgbm as lgb

In [54]:
X_train=whole3.drop("item_cnt_month",axis=1).query("date_block_num<33")
y_train=whole3.query("date_block_num<33")["item_cnt_month"]
X_val=whole3.drop("item_cnt_month",axis=1).query("date_block_num==33")
y_val=whole3.query("date_block_num==33")["item_cnt_month"]
X_test=whole3.drop("item_cnt_month",axis=1).query("date_block_num==34")

In [57]:
lgb_train = lgb.Dataset(X_train,y_train)
lgb_eval = lgb.Dataset(X_val,y_val,reference=lgb_train)

In [58]:
params = {
        'task': 'train',
        'boosting_type': 'gbdt',
        'objective': 'regression',
        'metric': {'rmse'},
        'learning_rate': 0.3,
        'num_leaves': 30,
        'min_data_in_leaf': 1,
        'num_iteration': 100,
        'verbose': 20
}

In [ ]:
gbm = lgb.train(params,
            lgb_train,
            num_boost_round=1000,
            valid_sets=lgb_eval,
            early_stopping_rounds=10)